{% extends  'layout.html' %}

{% block body%}


<div class="container">

    <h2>sales</h2>


    <table class="table mt=5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
        <th scope="col">Image </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th> <br>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
        <td>image</td>
    </tr>

  </tbody>
</table>
</div>

{% endblock %}